<!DOCTYPE html>
<html lang="en">
<head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.8.0/d3.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body style="position:fixed; top:0; bottom:0; left:0; right:0;">
<div id="root" style="height: 100%; display: flex; align-items: center; justify-content: center;">
</div>
<script>
  data = JSON.parse({{ data|tojson }});
  datapointCount = data.length;
  console.log(data)
  //Make an SVG Container
  var svgContainer = d3.select("#root").append("svg")
                       .attr("width", "800px")
                       .attr("height", "800px");

  var arcGenerator = d3.arc();

  //Draw the Circle
  for (var i = 0; i < data.length; data++) {
    var circle = svgContainer.append('path')
                       .attr('transform', 'translate(' + [400, 400] + ')')
                       .attr('d', arcGenerator({
                        innerRadius: 0,
                        outerRadius: 100,
                        startAngle: -(Math.PI/datapointCount),
                        endAngle: (Math.PI/datapointCount)
                       }));
  }
</script>
</body>
</html>
