<!DOCTYPE html>
<html lang="en">
<head>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body style="top:0; bottom:0; left:0; right:0; background-color: grey; font-family: sans-serif;">
  <div style="display: flex; flex-direction: column; align-items: center; justify-content: space-around; background-color: white;">
      <h1>Data Visualisation Assignment 4</h1>
      <div style="display: flex; align-items: center; justify-content: space-around; width: 100%">
        <h3><a href="/?dataset=ideal">Ideal Scene</a></h3>
        <h3><a href="/?dataset=noisy">Noisy Scene</a> </h3>
      </div>
    </div>
  </div>
  <div style="display: flex; flex-direction: column; align-items: center; justify-content: space-around;  padding: 1%; background-color: white; margin-top: 1%;">
    <h2>DATASET: {{ dataset }} Scene</h2>
    <div style="width: 100%; height: 1000px;" id="dataset-chart"></div>
  </div>
  </div>
      
<script>
fps = {{ fps }};
groundTruthData = JSON.parse({{ gt_data|tojson }});
resultsData = JSON.parse({{ results_data|tojson }});
groundTruthCCR = JSON.parse({{ gt_ccr|tojson }});
resultsCCR = JSON.parse({{ results_ccr|tojson }});

opticalFlow = {
  x: resultsData.map((d, i) => i/fps),
  y: resultsData.map(d => d[0]),
  type: 'line',
  name: 'Optical Flow'
};

detectedCompressions = {
  x: resultsData.map((d, i) => i/fps),
  y: resultsData.map(d => d[1] === "Compression" ? d[0] : null),
  type: 'scatter',
  mode: 'markers',
  name: 'Detected Compression (N=' + resultsData.filter(d => d[1] === "Compression").length + ')',
  xaxis: 'x',
  yaxis: 'y',
  marker: {
    color: 'red',
    size: 7.5,
  },
};

groundTruth = {
  x: groundTruthData.map((d, i) => i/fps),
  y: groundTruthData.map(d => d[0]),
  type: 'line',
  name: 'Ground Truth',
  xaxis: 'x',
  yaxis: 'y2'
};

trueCompressions = {
  x: groundTruthData.map((d, i) => i/fps),
  y: groundTruthData.map(d => d[1] === "Compression" ? d[0] : null),
  type: 'scatter',
  mode: 'markers',
  name: 'True Compression (N=' + groundTruthData.filter(d => d[1] === "Compression").length + ')',
  xaxis: 'x',
  yaxis: 'y2',
};

data = [opticalFlow, detectedCompressions, groundTruth, trueCompressions];

layout = {
  xaxis: { title: 'Time (seconds)', domain: [0, 120] },
  yaxis: { title: 'Vertical Acceleration (pixels/s^2)' },
  yaxis2: { title: 'Frame Y Co-ords (pixels)' },
  grid: {
    rows: 2,
    columns: 1,
    subplots:[['xy'], ['xy2']]
  },
  annotations: [
      {
        "x": 0.5,
        "y": 1,
        "font": {
          "size": 16
        },
        "text": "Solution",
        "xref": "paper",
        "yref": "paper",
        "xanchor": "center",
        "yanchor": "bottom",
        "showarrow": false
      },
      {
        "x": 0.5,
        "y": 0.4,
        "font": {
          "size": 16
        },
        "text": "Ground Truth",
        "xref": "paper",
        "yref": "paper",
        "xanchor": "center",
        "yanchor": "bottom",
        "showarrow": false
      },
    ],
};

Plotly.newPlot('dataset-chart', data, layout);
</script>
</body>
</html>
